//
   Created by abaschenis on 22.09.2014.
block header
    .masthead
        h3.text-muted #{siteName}
        ul.nav.nav-justified(ng-repeat="menus")
            li.active
                a(href='#') Home
            li
                a(href='#') Projects